@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Global Styling */
* {
    margin: 0;
    padding: 0;
    }

/* Navbar Styling */
.navbar {
    height: 100px;
}

.navbar-text {
    font-weight: 500;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}

/* Styling for search bar card */
.card-content {
    background-color: #f8f9fa;
    padding: 5px 5px 5px 5px;
    border: none;
    border-radius: 0%;
}

.searchbar-content {
    margin-left: -20px;
    width: 75%;
}

/* Creating a border for the city display information */
.city-display-border {
    border-radius: 5px;
    border: 1px solid #dfdfdf;
}

/* City name font styling */
.city-name {
    font-size: 30px;
    font-weight: 600;
}

/* Styling for the history content */ 
.history-form {
    cursor: pointer;
    margin-left: -20px;
}

/* Clear button styling */
.clear-button {
    margin-left: -20px;
    margin-top: 15px;
}

@media screen and (max-width: 500px) {
    .searchbar-content {
        width: 100%;
        margin-left: 0;
    }

    .history-form {
        margin-left: 0%;
    }

    h4 {
        text-align: center;
    } 
    
    .clear-button {
        margin-left: 0;
    }
}